#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.toDoContainer{
  display: flex;
  width: 30%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.toDoContainer input{
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.toDoContainer button{
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.taskContainer {
  margin: 0 auto;
  display: flex;
  width: 100px;
  align-items: center;
}

ul {
  list-style-type: none;
}
.title{
  font-size: 20px;
  text-align: center;
  color: black;
}